* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&family=Inter&family=Raleway:wght@100&display=swap');


header {
    background-color: #BDCDD6;
    width: 100%;
    position: sticky;
    top: 0;
}

.navbar li a {
    text-decoration: none;
}

.logo {
    position: relative;
    bottom: 20px;
    left: 10px;
}

.main-index{
    display: grid;
    width: 100%;
    padding-top: 40px;
    padding-left: 60px;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 texto img5"
    "img2 img3 img4"
    ;
}


.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform:uppercase;
    flex-wrap: wrap;
}

.section-principal{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-left: -75px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 50px;
    flex-flow: row wrap
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap;
    text-transform:uppercase;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    flex-flow: row wrap
}

h3 {
    display: grid;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    margin: auto;
    /* margin-left: 30%; */
    text-align: center;
    flex-flow: row wrap
    /* width: 400px; */
}

.imagen1{
    width: 409px;
    height: 550px;
}

.imagen2{
    width: 500px;
    height: 439px;
}

.imagen3{
    width: 550px;
    height: 439px;
}

.imagen4{
    width: 550px;
    height: 439px;
}

.imagen5{
    width: 550px;
    height: 500px;
}

footer {
    position: static;
    margin-bottom: 0%;
    background-color: #4D4D4D;
    height: 200px;
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    bottom: 0;
    color: white;}

    .facebook {
        width: 35px;
        position: relative;
        left: 450px;
        top: 20px;
    }
    
    .instagram {
        width: 35px;
        position: relative;
        left: 431px;
        top: 45px;
    }
    
    .whatsapp {
        width: 35px;
        position: relative;
        left: 412px;
        top: 70px
    }
    
    .telefono {
        width: 35px;
        position: relative;
        top: 45px;
        left: 75px;
    }
    
    .correo {
        width: 35px;
        position: relative;
        top: 92px;
        left: 40px;
    
    }
    
    .ubicacion {
        width: 35px;
        position: relative;
        top: 135px;
    }

    .textofooter {
        font-family: 'Raleway', sans-serif;
        position: relative;
        left: 130px;
        top: 5px;
        line-height: 45px;
    }

    .section-3 {
        font-family: 'Raleway', sans-serif;
        position: relative;
        left: 450px;
        top: 175px;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .arquitectura {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        /* width: 400px; */
        text-align: center;
        flex-wrap: wrap;
    }
    .tituloarquitectura {
        display: flex;
        width: 60%;
        margin: auto;
        font-size: 70px;
        text-align: center;
        padding-top: 50px;
        /* position: relative;
        top: 40px;
        font-size: 70px; */
    
    }

    .tituloarquitectura2 {
        display: flex;
        width: 80%;
        margin: auto;
        padding-top: 50px;
        /* position: relative;
        top: 80px; */
    }

    .box {
        display: grid;
        padding-left: 150px;
        padding-bottom: 50px;
        text-align: center;
        grid-template-columns: repeat(2,900px);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
        "arq1 arq2"
        
        
    }
    
    .sectionarq1 {
        grid-area: arq1;
        display: flex;
        width: 80%;
        text-align: center;
        flex-direction: column;
        padding-top: 60px;
        flex-wrap: wrap; 
        gap: 20px;
        /* gap: 30px; */
        /* display: flex;
        flex-direction: column;
        width: 20%;
        margin-left: 450px;
        text-align: center;
        padding-top: 50px;
        gap: 30px;
        flex-wrap: wrap; */
    }
    
    .sectionarq2 {
        grid-area: arq2;
        display: flex;
        width: 80%;
        text-align: center;
        flex-direction: column;
        padding-top: 60px;
        flex-wrap: wrap; 
        gap: 30px;
        
        /* display: flex;
        flex-direction: column;
        width: 20%;
        margin-left: 250px;
        text-align: center;
        padding-top: 50px;
        gap: 30px;
        flex-wrap: wrap; */
    }