* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One&family=Inter&family=Raleway:wght@100&display=swap');


header {
    background-color: #BDCDD6;
    width: 100%;
    position: sticky;
    top: 0;
}

.main-index{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 texto img5"
    "img2 img3 img4"
    ;
}


.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-transform:uppercase;
    flex-wrap: wrap;
}

.section-principal{
    grid-area: texto;
}

.imagen1{
    width: 409px;
    height: 550px;
}

.imagen2{
    width: 500px;
    height: 439px;
}

.imagen3{
    width: 500px;
    height: 439px;
}

.imagen4{
    width: 500px;
    height: 439px;
}

.imagen5{
    width: 550px;
    height: 500px;
}

footer {
    grid-area: footer;
    position: static;
    margin-bottom: 0%;
    background-color: #4D4D4D;
    height: 200px;
    width: 100%;
    display: flex;
    padding-bottom: 0px;
    bottom: 0;
    color: white;}

    .facebook {
        width: 35px;
        position: relative;
        left: 450px;
        top: 20px;
    }
    
    .instagram {
        width: 35px;
        position: relative;
        left: 431px;
        top: 45px;
    }
    
    .whatsapp {
        width: 35px;
        position: relative;
        left: 412px;
        top: 70px
    }
    
    .telefono {
        width: 35px;
        position: relative;
        top: 45px;
        left: 75px;
    }
    
    .correo {
        width: 35px;
        position: relative;
        top: 92px;
        left: 40px;
    
    }
    
    .ubicacion {
        width: 35px;
        position: relative;
        top: 135px;
    }

    .textofooter {
        font-family: 'Raleway', sans-serif;
        position: relative;
        left: 130px;
        top: 5px;
        line-height: 45px;
    }

    .section-3 {
        font-family: 'Raleway', sans-serif;
        position: relative;
        left: 450px;
        top: 175px;
    }
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .arquitectura {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        /* width: 400px; */
        text-align: center;
        flex-wrap: wrap;
    }